<a class="btn btn-primary" href="/escrows/new">New Escrow</a>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Created</th>
      <th>Description</th>
      <th>Amount</th>
      <th>Address</th>
      <th>With</th>
      <th>Status</th>
  </thead>
  <tbody>
    {{#each escrows}}
      <tr>
        <td>
          {{dateFormat created_at format="DD/MM/YY hh:mm"}}
        </td>
        <td>
          <a href="/escrows/{{uuid}}">{{description}}</a>
        </td>
        <td>
          {{amount}} BTC
        </td>
        <td>
          {{address}}
        </td>
        <td>
          {{#if is_payer}}
            {{payee.email}}
          {{else}}
            {{payer.email}}
          {{/if}}
        </td>
        <td>
          {{status}}
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>